PORT=5050
MONGODB_URI=mongodb://localhost:27017/ituka
NODE_ENV=development
CORS_ORIGINS=http://localhost:5173
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
JWT_SECRET=supersecretkey_change_me
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
